<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Empty Project</title>
  <link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<body>
<h1>Empty Project</h1>

</body>
</html>
